.navigation {

  &__nav {
    height: 5rem;
    width: 100%;
    position: fixed;
    background-image: linear-gradient(red, blue);
    z-index: 1000;
  }

  &__list {
    list-style: none;
    text-align: center; // centers the CONTAINER in which the list items/text appear. 

  }

  &__item {
      margin: 1rem;
      display: inline-block;
  }

  &__link {

      font-size: 2rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
  }
}
